.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    gap: 20px;
}